body
{
	background-image: url("rain.png");
	background-position:center;
    background-size:cover;
	
}

#i
{
	width: 80px;
    margin-left: -7px;
    border-radius: 90px;
}
h1,h3,label{
    color:blanchedalmond;

}